.Editor {
  border-radius: 1rem;
  position: relative;
  width: 75vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  border: 0.25rem solid black;
  background-color: white;
  box-shadow: 0.75rem 0.75rem black;
  overflow: hidden;
  font-family: 'Public Sans', sans-serif;
}

.Content {
  z-index: 10;
  padding: 0.25rem 0.35rem 0.45rem 0.35rem;
  height: 55vh;
  background: white;
  overflow-y: auto;
}

.Editor blockquote {
  margin: 1rem;
}

.EditorMenu {
  z-index: 9;
  background: #e3dff2;
  height: var(--EditorMenuHeight, 1.7rem);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.2rem 2.6rem 0.2rem 0.6rem;
  gap: 0.3rem;
  transition: all 0.1s ease-in-out;
}

.EditorMenu select {
  border: 0.1rem solid black;
  height: 1.2rem;
  font-size: small;
  margin: 0 0.2rem;
}

.EditorMenu select:focus {
  outline: none;
}

.EditorMenu select option {
  font-weight: bold;
}

.EditorMenuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.3rem;
  width: 1.3rem;
  background-color: transparent;
  color: black;
  transition: all 0.1s ease-in-out;
  border: none;
  padding: 0;
}

.EditorMenuButtonActive {
  background-color: black;
  color: white;
  transition: all 0.1s ease-in-out;
}

.EditorMenuButtonDeactive {
  color: #909090;
  transition: all 0.1s ease-in-out;
}

.EditorMenuDivider {
  margin: 0.2rem 0.2rem 0 0.2rem;
  height: 0.8rem;
  width: 0.125rem;
  background-color: #c7c7c7;
}

.EditorMenuButton:hover {
  cursor: pointer;
}

.ExBtn {
  position: absolute;
  right: 0.4rem;
  top: 0.2rem;
}

.InsertImgBtn {
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #90ee90;
  box-shadow: 0.15rem 0.15rem black;
  transition: all 0.1s ease-in-out;
  padding: 0 0.5rem;
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
}

.InsertImgBtn:hover {
  transform: translate(0.2rem, 0.2rem);
  box-shadow: none;
}

.PopupMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

@media only screen and (max-width: 786px) {
  .Editor {
    width: 90vw;
  }
}
