.App {
  width: 100vw;
  height: 100vh;
  background-color: #ffe866;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;

  --EditorMenuHeight: 2rem;
}
